tools/_chromeprofile*/
tools/_*.png
tools/_medidas.json
tools/_og.html
tools/_espia.json
tools/_mocks.html
tools/_mock-targets.json
tools/_chat-copy.json
tools/_*.json
data/cand/
data/makito-details.json
data/roly-cdp*.json
